<footer>
    <div class="leftfooter">
      <img class="logo" src="../../assets/images/logo.png" width="" height="" alt="" />
      <p>International trade becomes that much more safe and secure with Export Portal. Register for free today on the
        best import and export B2B platform!</p>
      <div class="flexicons">
        <a href="#">
          
          <img src="../../assets/images/Group 15655.png" width="" height="" alt="" />
        </a>
        <a href="#">
          <img src="../../assets/images/Group 15658.png" width="" height="" alt="" />
        </a>
        <a href="#">
          <img src="../../assets/images/Group 15660.png" width="" height="" alt="" />
        </a>
      </div>
    </div>
    <div class="rightfooter">
      <div>
        <h1>Quick Links</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Exporters</a></li>
          <li><a href="/product">Products</a></li>
          <li> <a href="/about">About</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/register">Registration</a></li>
  
        </ul>
      </div>
      <div class="contactus">
        <h1>Contact Us</h1>
        <ul>
          <li>
            <img class="map" src="../../assets/images/Page-1.png" width="" height="" alt="" />
            <a href="#">+923254489521</a>
          </li>
          <li>
            <img class="emial" src="../../assets/images/paper-plane.png" width="" height="" alt="" />
            <a href="#">help@exportportal.pk</a>
          </li>
          <li><img class="phone" src="../../assets/images/global.png" width="" height="" alt="" />
            <a href="#">exportportal.pk</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <h6>
        COPYRIGHTS &copy 2020 EXPORTPORTAL All Rights Reserved
      </h6>
    </div>
  </footer>