<header class="header">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="/exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                     <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                  >
                    <i class="fa fa-bars"></i>
                  </button>
          
                  <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                        </li>
                        <li>
                            <a href="/exporters">Exporters</a>
                        </li>
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                             <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/register">Registration</a>
                        </li>
                        <li>
                            <button class="btn addProduct">Add product</button>
                        </li>
                        <li>
                            <label class="dropdown">
                                <div class="dd-button">
                                    <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                                    <span> John Smith </span>
                                    <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                                </div>
                                <input type="checkbox" class="dd-input" id="test">
                                <ul class="dd-menu">
                                    <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                            alt="" /><span>Edit</span></li>
                                    <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                            out</span></li>
                                </ul>
                            </label>
                        </li>
                    </ul>
                  </nav>
                </div>
              </ul>
        </nav>
    </div>
    <div class="headopenbanner">
        <div class="banner">
            <img src="../../assets/images/Registration.png" height="" width="" alt="banner" />
            <div class="cont">
                <h1>Registration</h1>
                <div class="path">
                    <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
                    <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
                    <p>Registration</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <section class="registrationtitle">
        <h1>Think Local, Sell Global Start Trading Online Internationally</h1>
        <p>Our comprehensive global trade hub has everything you need to trade safely and securely. Empowered by our
            proprietary blockchain technology, Export Portal prioritizes security, transparency, cost-effectiveness,
            and ease-of-use.</p>
    </section>
    <section class="chooseKey">
        <div class="left">
            <img src="../../assets/images/img 1.png" width="" height="" alt="" />
            <div class="cont">
                <h1>WHY TO CHOOSE US</h1>
                <p>
                    The vision is to provide such a unified and comprehensive platform where all the companies in
                    Pakistan, which are exporters today and may aim to become exporters in future, are listed. Such
                    a platform will become a directory for these companies. It will help them project their profiles
                    to the international market. The companies will be listed and categorized according to their
                    products and services. Such a categorization will facilitate prioritization, transparency, and
                    ease-of-use for the end user.
                </p>
            </div>
        </div>
        <div class="right">
            <img src="../../assets/images/img 2.png" width="" height="" alt="" />
            <div class="cont">
                <h1>key features</h1>
                <ul>
                    <li class="one">
                        <span>1</span>
                        <p>All sorts of companies will be listed on the portal, e.g. Food, Merchandise, IT.</p>
                    </li>
                    <li class="two">
                        <span>2</span>
                        <p>The information such as detailed brand information, Company Description, Contact.Details
                            And
                            Products Will Be Provided On The Company Specific Page.</p>
                    </li>
                    <li class="three">
                        <span>3</span>
                        <p>Each company will have a dedicated page for its brand.</p>
                    </li>
                    <li class="four">
                        <span>4</span>
                        <p>Based on the membership status companies could list And Add Products With Details</p>
                    </li>
                    <li class="five">
                        <span>5</span>
                        <p>Top exporters based on certain criterias, certifications and </p>
                    </li>
                    <li class="six">
                        <span>6</span>
                        <p>Our team will be doing active marketing of the brands on </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="exportoffering">
        <h1>What ExportPortal is Offering</h1>
        <div class="offeringcards">
            <div class="offcard">
                <h1>Bronze</h1>
                <h2>FREE</h2>
                <ul>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt="" />
                        <span>Listing on export portal</span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt="" />
                        <span>Basic brand information and contact
                            information</span>
                    </li>
                </ul>
            </div>
            <div class="offcard">
                <h1 class="silver">Silver</h1>
                <h2>Rs. 10000.00 <span>/year</span></h2>
                <ul>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Listing on export portal</span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Detailed brand information including
                            company description and contact
                            information</span>
                        </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Dedicated page of the brand</span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Possibility to list and add up to 20 products
                            with details</span>
                        </li>
                </ul>
            </div>
            <div class="offcard">
                <h1>Gold</h1>
                <h2>Rs. 15000.00 <span>/year</span></h2>
                <ul>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>
                            Listing on export portal
                        </span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Detailed brand information including
                            company description and contact
                            information</span>
                        </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>
                            Dedicated page of the brand
                        </span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>
                            Possibility to list and add up to 20 products
                            with details
                        </span>
                    </li>
                    <li>
                        <img src="../../assets/images/tick.png" width="" height="" alt=""/>
                        <span>Get Displayed In Top Exporters</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>