<app-header></app-header>
<div class="headopenbanner">
    <div class="banner">
        <img src="../../assets/images/News.png" height="" width="" alt="banner" />
        <div class="cont">
            <h1>About Us</h1>
            <div class="path">
                <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
                <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
                <p>About Us</p>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <section class="aboutUs">
        <div class="something">
            <div class="toknow">
                <h6>OUR STORY</h6>
                <div class="somedetail">
                    <h4>Something To Know </h4>
                    <h1><span>About </span> Our Business</h1>
                    <p>Exportportal.pk is an online B2B platform aiming to be a comprehensive international
                        marketplace
                        specifically designed for Pakistani exporters , which may include Small and Medium-sized
                        Enterprises (SMEs) and their counterparts covering all sectors and industries.</p>
                </div>
            </div>
            <div class="image">
                <img class="img" src="../../assets/images/Rectangle 2006.png" width="" height="" alt="" />
                <img class="dot" src="../../assets/images/RepeatGrid2.png" width="" height="" alt="" />
            </div>
        </div>
        <div class="something">
            <div class="imagetwo">
                <img class="img" src="../../assets/images/Rectangle 2006.png" width="" height="" alt="" />
                <img class="dot" src="../../assets/images/RepeatGrid2.png" width="" height="" alt="" />
            </div>
            <div class="whatisEP">
                <h4>What is</h4>
                <h1>Export Portal</h1>
                <p>A country like Pakistan with such a large population, famous for its diverse industries with a
                    quality products portfolio and continuously growing businesses, offers great opportunities for
                    international traders. In contrast, Pakistani exporters still have very little penetration and
                    presence in the e-commerce domain. Many companies do not even have an online marketplace or
                    presence, which limits the opportunities and recognition for them. Industries that are located
                    in remote areas have little to poor internet connectivity. Several SMEs and micro export
                    organizations are doing business in decades old traditional ways such as contact based trading.
                    To exploit the full potential of such a dynamic market a digital platform will serve as backbone
                    for Pakistan’s trading and exports.</p>
            </div>
        </div>
    </section>
    <section class="reviews">
        <div class="heading">
          <h1>Reviews</h1>
        </div>
        <div class="ourreviews">
          <div class="arrivalcard">
            <div class="dpimages">
              <img class="quotation" src="../../assets/images/quotation-marks-left.png" width="" height="" alt="" />
              <img class="dp" src="../../assets/images/dpreview.png" width="" height="" alt="" />
              <img class="quotation" src="../../assets/images/quotation-marks-right.png" width="" height="" alt="" />
            </div>
            <h4>Raymond Galario</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
            </div>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et
              Dolore Magna Aliqua. </p>
          </div>
          <div class="arrivalcard">
            <div class="dpimages">
              <img class="quotation" src="../../assets/images/quotation-marks-left.png" width="" height="" alt="" />
              <img class="dp" src="../../assets/images/dpreview.png" width="" height="" alt="" />
              <img class="quotation" src="../../assets/images/quotation-marks-right.png" width="" height="" alt="" />
            </div>
            <h4>Raymond Galario</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
            </div>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et
              Dolore Magna Aliqua. </p>
          </div>
          <div class="arrivalcard">
            <div class="dpimages">
              <img class="quotation" src="../../assets/images/quotation-marks-left.png" width="" height="" alt="" />
              <img class="dp" src="../../assets/images/dpreview.png" width="" height="" alt="" />
              <img class="quotation" src="../../assets/images/quotation-marks-right.png" width="" height="" alt="" />
            </div>
            <h4>Raymond Galario</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
            </div>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et
              Dolore Magna Aliqua. </p>
          </div>
        </div>
       
      </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>