<header class="header">
    <div class="headInner">
      <a href="#" title="" class="logo">
        <img src="../../assets/images/logo.png" width="" height="" alt="" />
      </a>
      <nav class="mainMenu">
        <div class="icons">
          <a href="#">
            <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
          </a>
          <a href="#">
            <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
          </a>
          <a href="#">
            <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
          </a>
          <a href="#">
            <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
          </a>
        </div>
        <ul class="socialIcons">
          <li>
            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
          </li>
          <li>
            <a href="/exporters">Exporters</a>
          </li>
          <li>
            <a href="/product">Products</a>
          </li>
          <li>
             <a href="/about">About</a>
          </li>
          <li>
            <a href="/news">News</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/register">Registration</a>
          </li>
          <li>
            <button class="btn addProduct">Add product</button>
          </li>
          <li>
            <label class="dropdown">
              <div class="dd-button">
                <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                <span> John Smith </span>
                <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
              </div>
              <input type="checkbox" class="dd-input" id="test">
              <ul class="dd-menu">
                <li><img class="edit" src="../../assets/images/edit (1).png" width="" height="" alt="" /><span>Edit</span></li>
                <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                    out</span></li>
              </ul>
            </label>
          </li>
        </ul>
      </nav>
    </div>
    <div class="headopenbanner">
      <div class="banner">
        <img src="../../assets/images/News.png" height="" width="" alt="banner" />
        <div class="cont">
          <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod Elit Incididunt.</h1>
          <div class="path">
            <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
            <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
            <p>Latest News</p>
            <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
            <p>Topic Name</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <section class="newsDetail overTwo">
      <div class="postDetail">
        <div class="poster">
          <img class="banner" src="../../assets/images/newDetailposter.png" width="" height="" alt="" />
          <div class="date">
            <p>04</p>
            <p>April</p>
          </div>
          <div class="usercomment">
            <a href="#"><img src="../../assets/images/userwhite.png" width="" height="" alt="">John Doe</a>
            <a href="#"><img src="../../assets/images/chatwhite.png" width="" height="" alt="">32</a>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in TED reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <h2>Lorem ipsum dolor sit</h2>
        <p>sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisiut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <div class="ourleftbox">
          <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo es consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
        <div class="davidflex">
          <img src="../../assets/images/david-kennedy-4WnlU07YZ98-unsplash.png" width="" height="" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscings elit, sed do eiusmod tempor incididunt ut labore ets
            dolore magna aliqua. minim veniam, quis nostrud es exercitation ullamco laboris nisi ut aliquip ecommdo
            consequat. Duis aute irure dolor in TED reprehendert in voluptate velit esse cillum dolore eu fugiat nullans
            pariatur. Excepteur sint occaecat cupidatat non tech proident, sunt in culpa qui officia deserunt mollit
            hsanim id est laborum. </p>
        </div>
        <div class="share">
          <p>Share</p>
          <a href="#"><img class="facebook" src="../../assets/images/bluewhitefacebook.png" width="" height="" alt="" /></a>
          <a href="#"><img class="twitter" src="../../assets/images/bluewhitetwitter.png" width="" height="" alt="" /></a>
          <a href="#"><img class="linkedin" src="../../assets/images/bluewhitelinkedin.png" width="" height="" alt="" /></a>
          <a href="#"><img class="instagram" src="../../assets/images/bluewhiteinstagram.png" width="" height="" alt="" /></a>
        </div>
        <div class="leaveReply">
          <h4>Leave a Reply</h4>
          <p>Your email address will not be published.</p>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Name" />
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">comment</textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Save my name, email, and website in this browser for the next time I comment.
                </label>
              </div>
            </div>
            <button class="btn">Post Comment</button>
          </form>
        </div>
      </div>
      <div class="recentTags">
        <div class="recentposts">
          <h1>Recent Posts</h1>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
          <div class="postnumber">
            <img class="dp" src="../../assets/images/postdpr.png" width="" height="" alt="" />
            <div>
              <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod...</p>
              <div class="usercom">
                <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="">John Doe</a>
                <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="">32</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tags">
          <h1>Tags</h1>
          <div class="aTags">
            <a href="#">Export</a>
            <a href="#">Lorem ipsum</a>
            <a href="#">Lorem Dolar </a>
            <a href="#">Export portal</a>
            <a href="#">Lorem ipsum</a>
            <a href="#">Dolar </a>
            <a href="#">Export</a>
            <a href="#">Lorem ipsum</a>
            <a href="#">Lorem Dolar </a>
            <a href="#">Lorem ipsum Export sit</a>
            <a href="#">Lorem Dolar </a>
          </div>
        </div>
        <div class="haveQuestions">
          <img src="../../assets/images/Rectangle 2066.png" width="" height="" alt="" />
          <div class="question">
            <h1>Have Questions?</h1>
            <p>Our client care managers are available 24/7 to answer your questions.</p>
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
              </div>
              <button class="btn send">SEND</button>
            </form>
          </div>
        </div>
      </div>

    </section>
    <section class="footeremail">
      <div>
        <h1>Newsletter</h1>
        <img src="../../assets/images/Group158.png" width="" height="" alt="" />
        <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
      </div>
      <div class="mailinput">
        <input type="email" name="email" placeholder="Email Address" />
        <button class="btn">SUBSCRIBE</button>
      </div>
    </section>
  </main>