<header class="header openheaderwithoutbanner">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="/exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                     <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                  >
                    <i class="fa fa-bars"></i>
                  </button>
          
                  <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                        </li>
                        <li>
                            <a href="/exporters">Exporters</a>
                        </li>
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                             <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/register">Registration</a>
                        </li>
                        <li>
                            <button class="btn addProduct">Add product</button>
                        </li>
                        <li>
                            <label class="dropdown">
                                <div class="dd-button">
                                    <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                                    <span> John Smith </span>
                                    <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                                </div>
                                <input type="checkbox" class="dd-input" id="test">
                                <ul class="dd-menu">
                                    <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                            alt="" /><span>Edit</span></li>
                                    <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                            out</span></li>
                                </ul>
                            </label>
                        </li>
                    </ul>
                  </nav>
                </div>
              </ul>
        </nav>
    </div>
</header>
<main class="main">
    <section class="pdBanner">
        <h5>Men's Lifestyle Shoes</h5>
        <p>Home > Men Fashion</p>
    </section>
    <section class="shoesDetail">
        <div class="promoDetails">
            <div class="promo">
                <img class="big" src="../../assets/images/shoes-1.png" width="" height="" alt="" />
                <div class="multiimg">
                    <img src="../../assets/images/shoes-2.png" width="" height="" alt="" />
                    <img class="diffsp" src="../../assets/images/shoes-3.png" width="" height="" alt="" />
                    <img src="../../assets/images/shoes-4.png" width="" height="" alt="" />
                </div>
            </div>
            <div class="detail">
                <div class="inner">
                    <h2>SHOES</h2>
                    <h1>LEBROM XIII PREMIUM AD iD</h1>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>23 Reviews</span>
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit esrvh voluptatem accusantium
                        doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritaties quasi
                        architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                    </p>
                    <div class="shopdetail">
                        <div class="title">
                            <h5>Colors:</h5>
                            <div class="titleinner">
                                <img src="../../assets/images/lightgraycolor.png" width="" height="" alt="" />
                                <img src="../../assets/images/darkgraycolor.png" width="" height="" alt="" />
                            </div>
                        </div>
                        <div class="title">
                            <h5>size:</h5>
                            <div class="titleinner">
                                <a class="active" href="#">8</a>
                                <a href="#">9</a>
                                <a href="#">10</a>
                                <a href="#">11</a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <h3>$250.00</h3>
                        <del>$300.00</del>
                    </div>
                    <div class="sharewith">
                        <h6>Share with </h6>
                        <a href="#"><img src="../../assets/images/whatsappcolor.png" width="" height="" alt="" /></a>
                        <a href="#"><img src="../../assets/images/facebookcolor.png" width="" height="" alt="" /></a>
                        <a href="#"><img src="../../assets/images/twittercolor.png" width="" height="" alt="" /></a>
                        <a href="#"><img src="../../assets/images/pintresscolor.png" width="" height="" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shoesBanner">
            <img src="../../assets/images/rightbanner.png" width="" height="" alt="" />
        </div>
    </section>
    <section class="description">
        <div class="allReviews">
            <div class="headerTabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="active btn" data-toggle="tab" href="#tab1">Reviews</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab2"> Description</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab3">Shipping Details</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active show">
                    <div class="namedetail">
                        <h2>All Reviews <span> 23</span></h2>
                    </div>
                    <div class="namedetail">
                        <div class="namedp">
                            <img src="../../assets/images/dp1.png" width="" height="" alt="" />
                            <div>
                                <h5>Jessica Smith </h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                </div>
                            </div>
                        </div>
                        <div class="detaildp">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                            </p>
                            <div class="likeunlike">
                                <div class="likeimg">
                                    <a href="#"><img src="../../assets/images/like.png" width="" height="" alt="" />35</a>
                                    <a href="#"><img src="../../assets/images/dislike.png" width="" height="" alt="" />5</a>
                                </div>
                                <h6>02 jan 2021</h6>
                            </div>
                        </div>
                    </div>
                    <div class="namedetail">
                        <div class="namedp">
                            <img src="../../assets/images/dp1.png" width="" height="" alt="" />
                            <div>
                                <h5>Jessica Smith </h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                </div>
                            </div>
                        </div>
                        <div class="detaildp">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                            </p>
                            <div class="likeunlike">
                                <div class="likeimg">
                                    <a href="#"><img src="../../assets/images/like.png" width="" height="" alt="" />35</a>
                                    <a href="#"><img src="../../assets/images/dislike.png" width="" height="" alt="" />5</a>
                                </div>
                                <h6>02 jan 2021</h6>
                            </div>
                        </div>
                    </div>
                    <div class="namedetail">
                        <div class="namedp">
                            <img src="../../assets/images/dp1.png" width="" height="" alt="" />
                            <div>
                                <h5>Jessica Smith </h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                </div>
                            </div>
                        </div>
                        <div class="detaildp">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                            </p>
                            <div class="likeunlike">
                                <div class="likeimg">
                                    <a href="#"><img src="../../assets/images/like.png" width="" height="" alt="" />35</a>
                                    <a href="#"><img src="../../assets/images/dislike.png" width="" height="" alt="" />5</a>
                                </div>
                                <h6>02 jan 2021</h6>
                            </div>
                        </div>
                    </div>
                    <div class="namedetail">
                        <div class="namedp">
                            <img src="../../assets/images/dp1.png" width="" height="" alt="" />
                            <div>
                                <h5>Jessica Smith </h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey"></i>
                                </div>
                            </div>
                        </div>
                        <div class="detaildp">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                            </p>
                            <div class="likeunlike">
                                <div class="likeimg">
                                    <a href="#"><img src="../../assets/images/like.png" width="" height="" alt="" />35</a>
                                    <a href="#"><img src="../../assets/images/dislike.png" width="" height="" alt="" />5</a>
                                </div>
                                <h6>02 jan 2021</h6>
                            </div>
                        </div>
                    </div>
                    <div class="paging">
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div>
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="assessment">
            <h1>Assessment Reviews</h1>
            <div class="rateflex">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>68%</span>
                </div>
                <span>60 Reviews</span>
            </div>
            <div class="rateflex">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>68%</span>
                </div>
                <span>60 Reviews</span>
            </div>
            <div class="rateflex">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <span>68%</span>
                </div>
                <span>60 Reviews</span>
            </div>
            <div class="rateflex">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <span>68%</span>
                </div>
                <span>60 Reviews</span>
            </div>
            <div class="rateflex">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <i class="fa fa-star grey"></i>
                    <span>68%</span>
                </div>
                <span>60 Reviews</span>
            </div>
        </div>
    </section>
    <section class="youMayLike">
        <h1 class="heading">You may also Like</h1>
        <div class="youAlsoLike">
            <div class="productCard">
                <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                <span class="detail">Vendor detail</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>Jordan Galaxy Trainer Leathe</h1>
                <p>$145.00</p>
            </div>
            <div class="productCard">
                <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                <span class="detail">Vendor detail</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>Jordan Galaxy Trainer Leathe</h1>
                <p>$145.00</p>
            </div>
            <div class="productCard">
                <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                <span class="detail">Vendor detail</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>Jordan Galaxy Trainer Leathe</h1>
                <p>$145.00</p>
            </div>
            <div class="productCard">
                <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                <span class="detail">Vendor detail</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>Jordan Galaxy Trainer Leathe</h1>
                <p>$145.00</p>
            </div>
            <div class="productCard">
                <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                <span class="detail">Vendor detail</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>Jordan Galaxy Trainer Leathe</h1>
                <p>$145.00</p>
            </div>
          
        </div>
      </section>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>