<header class="header openheaderwithoutbanner">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="/exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                     <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                  >
                    <i class="fa fa-bars"></i>
                  </button>
          
                  <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                        </li>
                        <li>
                            <a href="/exporters">Exporters</a>
                        </li>
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                             <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/register">Registration</a>
                        </li>
                        <li>
                            <button class="btn addProduct">Add product</button>
                        </li>
                        <li>
                            <label class="dropdown">
                                <div class="dd-button">
                                    <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                                    <span> John Smith </span>
                                    <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                                </div>
                                <input type="checkbox" class="dd-input" id="test">
                                <ul class="dd-menu">
                                    <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                            alt="" /><span>Edit</span></li>
                                    <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                            out</span></li>
                                </ul>
                            </label>
                        </li>
                    </ul>
                  </nav>
                </div>
              </ul>
        </nav>
    </div>

</header>
<main class="main">
    <section class="addProduct">
        <div class="card">
            <div class="dragimageflex">
                <div class="dragimage">
                    <img src="../../assets/images/dragphoto.png" width="" height="" alt="" />
                    <p>Drag or drop images here</p>
                </div>
                <div class="dragimage centerdragmargin">
                    <img src="../../assets/images/dragphoto.png" width="" height="" alt="" />
                    <p>Drag or drop images here</p>
                </div>
                <div class="dragimage">
                    <img src="../../assets/images/dragphoto.png" width="" height="" alt="" />
                    <p>Drag or drop images here</p>
                </div>
            </div>
            <form>
                <h5>Product Information</h5>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputEmail4"><span>* </span> Product Title</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputState">Gender (optional)</label>
                        <select id="inputState" class="form-control">

                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputEmail4"><span>* </span> Category</label>
                        <select id="inputState" class="form-control">

                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputState"><span>* </span> Sub Category</label>
                        <select id="inputState" class="form-control">

                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="inputState"><span>* </span> Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputEmail4"><span>* </span> Price</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputState"><span>* </span> Colors</label>
                        <select id="inputState" class="form-control">

                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputEmail4">Available Sizes</label>
                        <select id="inputState" class="form-control">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="inputState">Tags</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                </div>

                <div class="addproductbuttons">
                    <button class="btn addproduct">Add Product</button>
                    <button class="btn cancel">Cancel</button>
                </div>
            </form>
        </div>
    </section>

    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>