<app-header></app-header>
<div class="headopenbanner">
    <div class="banner">
        <img src="../../assets/images/brightbanner.png" height="" width="" alt="banner" />
    </div>
</div>
<main *ngIf="exporterData" class="main">
    <section  class="profileThumbnail">
        <div class="profileimage">
            <img src="{{exporterData.imageURL}}" width="" height="" alt="" />
        </div>
        <div class="title">
            <h1>{{exporterData.name}}</h1>
            <p>{{exporterData.category}}</p>
        </div>
    </section>
    <section class="exporterProfile">
        <div class="aboutCL">
            <h1>About</h1>
            <p>
                {{exporterData.name}} is located at {{exporterData.adress}}. We mainly deal with
                {{exporterData.category}} products.
                {{exporterData.name}} is registered at exportportal.pk since {{exporterData.timestamp}}.
                {{exporterData.name}} have a total of <span *ngIf="products" >
                    {{products.length}}
                </span>
                <span *ngIf="!products" >
                    0
                </span>
                products.

            </p>
            <h1>Contact</h1>
            <div class="info">
                <img src="../../assets/images/Groupphone.png" width="" height="" alt="" />
                <a href="#"> {{exporterData.phone}}</a>
            </div>
            <div class="info">
                <img src="../../assets/images/Groupmail.png" width="" height="" alt="" />
                <a href="#">info@shanfoods.com</a>
            </div>
            <div class="info">
                <img src="../../assets/images/Groupsite.png" width="" height="" alt="" />
                <a href="#"> {{exporterData.websiteURL}}</a>
            </div>

        </div>
        <div class="foodCards">
            <div *ngFor="let item of products" class="foodCard">
                <img src="{{item.imageURL}}" width="" height="" alt="" />
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <h1>{{item.productName}}</h1>
                <p *ngIf="item.price">{{item.price}}</p>

                <p *ngIf="!item.price">price not specified</p>

            </div>

        </div>
    </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>