<!-- <header class="header">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                  >
                    <i class="fa fa-bars"></i>
                  </button>
          
                  <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                        </li>
                        <li>
                            <a href="/exporters">Exporters</a>
                        </li>
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/register">Registration</a>
                        </li>
                        <li>
                            <button class="btn addProduct">Add product</button>
                        </li>
                        <li>
                            <label class="dropdown">
                                <div class="dd-button">
                                    <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                                    <span> John Smith </span>
                                    <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                                </div>
                                <input type="checkbox" class="dd-input" id="test">
                                <ul class="dd-menu">
                                    <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                            alt="" /><span>Edit</span></li>
                                    <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                            out</span></li>
                                </ul>
                            </label>
                        </li>
                    </ul>
                  </nav>
                </div>
              </ul>
        </nav>
    </div>
    <div class="headopenbanner">
        <div class="banner">
            <img src="../../assets/images/Exporters.png" height="" width="" alt="banner" />
            <div class="cont">
                <h1>Exporters</h1>
                <div class="path">
                    <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
                    <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
                    <p>Exporters</p>
                </div>
            </div>
        </div>
    </div>
</header> -->
<app-header></app-header>
<div class="headopenbanner">
    <div class="banner">
        <img src="../../assets/images/Exporters.png" height="" width="" alt="banner" />
        <div class="cont">
            <h1>Exporters</h1>
            <div class="path">
                <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
                <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
                <p>Exporters</p>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <section class="topExporters overTwo">
        <h1 class="heading">All Exporters</h1>
        <div class="exporterNameCard">
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
            <div class="expoCard">
                <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
                <h3>Shan Foods (Private)
                    Limited</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>Category here</p>
                </div>
                <div class="cataMap">
                    <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
                    <p>Lorem ipsum Dolar sit Amet sed</p>
                </div>
                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button class="btn">View Details</button>
            </div>
        </div>
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#"><img src="../../assets/images/next(2).png" width="" height="" alt="" /></a>
        </div>
    </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>