<app-header></app-header>
<div class="headopenbanner">
    <div class="banner">
        <img src="../../assets/images/Exporters.png" height="" width="" alt="banner" />
        <div class="cont">
            <h1>Exporters</h1>
            <div class="path">
                <img class="home" src="../../assets/images/home-icon.png" width="" height="" alt="" />
                <img class="arrow" src="../../assets/images/left-arrow.png" width="" height="" alt="" />
                <p>Exporters</p>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <!-- accountstatus: "approved"
adress: "29, sector 23, korangi industrial area, karachi - pakistan"
category: "home and kitchen"
companyEmail: "info@shanfoods.com"
imageURL: "https://exportportal.site/vendors/Shan.png"
name: "shan foods (private)limited"
phone: 213505307679
timestamp: t {seconds: 1614804031, nanoseconds: 826000000}
top: true
userID: "cjwcnFAOPigV6jWsebFg1huQm5E2"
websiteURL: "https://www.shanfoods.com" -->

    <section class="topExporters overTwo">
        <h1 class="heading">All Exporters</h1>
        <div *ngIf="exporters" class="exporterNameCard">
            <div *ngFor="let exp of exporters" class="expoCard">
                <img class="expologo" src="{{exp.imageURL}}" width="" height="" alt="" />
                <h3>
                    {{exp.name}}
                </h3>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                    <span>5.0</span>
                </div>
                <div class="cataMap">
                    <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
                    <p>{{exp.category}}</p>
                </div>


                <div class="isoimg">
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                    <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
                </div>
                <button (click)="viewExporter(exp.userID)" class="btn">View Details</button>
            </div>
        </div>
    </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>