<app-header></app-header>
<main class="main">
    <section class="productsbanner">
        <img src="../../assets/images/productshoes.png" width="" height="" alt="" />
    </section>

    <section class="products">
        <div *ngIf="categories" class="categoiies">
            <h1>CATEGORIES</h1>
            <div *ngFor="let item of categories.cats.arrayValue.values" class="catflex">
                <p *ngIf="item==item.stringValue"  class="active">{{item.stringValue}}</p>
                <p class="inactive" (click)="changeCat(item.stringValue)" *ngIf="item !=item.stringValue">{{item.stringValue}}</p>
            </div>

        </div>
        <div class="automotive padingautomation">
            <div class="fashiontitle">
                <h1>{{cat}}</h1>
               
            </div>
            <div class="fashion">
                <div *ngFor="let item of products" class="productCard">
                    <img class="mainimg" src="{{item.imageURL.stringValue}}" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>{{item.productName.stringValue}}</h1>
                    <p *ngIf="item.price">{{item.price.integerValue}}</p>

                    <p *ngIf="!item.price">price not specified</p>
                </div>
            </div>

        </div>
    </section>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>