<header class="header openheaderwithoutbanner">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="/exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                     <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="main">
    <section class="productsbanner">
        <img src="../../assets/images/productshoes.png" width="" height="" alt="" />
    </section>
    <section class="filterBar">
        <div class="filter">
            <h1>Filter</h1>
            <button class="btn"><img src="../../assets/images/refresh.png" width="" height="" alt="" /></button>
        </div>
        <div class="search">
            <input type="text" class="form-control" id="search" placeholder="search">
            <a href=""><img src="../../assets/images/search.png" width="" height="" alt="" /></a>
        </div>
        <select id="inputState" class="form-control">
            <option>SORT BY: Price $-$$</option>
        </select>
        <select id="inputState" class="form-control">
            <option>SHOW: 12</option>
        </select>
    </section>
    <section class="products">
        <div class="categoiies">
            <h1>CATEGORIES</h1>
            <div class="catflex">
                <p class="active">Women Fashion</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Men Fashion</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Girls Fashion</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Boys Fashion</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Automotive</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Health and Household</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Home and Kitchen</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Industrial and Scientific</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Luggage</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Movies & Television</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Pet Supplies</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Sports and Outdoors</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Tools & Home</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Toys and Games</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Video Games</p>
                <p>23</p>
            </div>
            <div class="price">
                <h1>PRICE</h1>
                <div class="limit">
                    <p>$50</p>
                    <p>$1900</p>
                </div>
                <img src="../../assets/images/limitline.png" width="" height="" alt="" />
            </div>
            <h1>BRANDS</h1>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
            <div class="catflex">
                <p>Lorem Ipsum</p>
                <p>23</p>
            </div>
        </div>
        <div class="automotive padingautomation">
            <div class="fashiontitle">
                <h1>Women Fashion</h1>
                <div class="leftbuttonright">
                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                    <a href="#"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="fashion">
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
            </div>
            <div class="fashiontitle">
                <h1>Automotive</h1>
                <div class="leftbuttonright">
                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                    <a href="#"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="fashion">
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
                <div class="productCard">
                    <img class="mainimg" src="../../assets/images/mouse.png" width="" height="" alt="" />
                    <span class="detail">Vendor detail</span>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                        <span>5.0</span>
                    </div>
                    <h1>Jordan Galaxy Trainer Leathe</h1>
                    <p>$145.00</p>
                </div>
            </div>
        </div>
    </section>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>