<header class="header openheaderwithoutbanner">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/images/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">
            <div class="icons">
                <a href="#">
                    <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/images/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                </li>
                <li>
                    <a href="/exporters">Exporters</a>
                </li>
                <li>
                    <a href="/product">Products</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li>
                    <button class="btn addProduct">Add product</button>
                </li>
                <li>
                    <label class="dropdown">
                        <div class="dd-button">
                            <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                            <span> John Smith </span>
                            <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                    alt="" /><span>Edit</span></li>
                            <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                    out</span></li>
                        </ul>
                    </label>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                  >
                    <i class="fa fa-bars"></i>
                  </button>
          
                  <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/" class="active"><img src="../../assets/images/home-icon.png" width="" height="" alt="" /></a>
                        </li>
                        <li>
                            <a href="/exporters">Exporters</a>
                        </li>
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/register">Registration</a>
                        </li>
                        <li>
                            <button class="btn addProduct">Add product</button>
                        </li>
                        <li>
                            <label class="dropdown">
                                <div class="dd-button">
                                    <img class="dp" src="../../assets/images/dp.png" width="" height="" alt="" />
                                    <span> John Smith </span>
                                    <img class="menu" src="../../assets/images/menu.png" width="" height="" alt="" />
                                </div>
                                <input type="checkbox" class="dd-input" id="test">
                                <ul class="dd-menu">
                                    <li><img class="edit" src="../../assets/images/edit (1).png" width="" height=""
                                            alt="" /><span>Edit</span></li>
                                    <li><img class="solid" src="../../assets/images/Solid.png" width="" height="" alt="" /><span>Sign
                                            out</span></li>
                                </ul>
                            </label>
                        </li>
                    </ul>
                  </nav>
                </div>
              </ul>
        </nav>
    </div>

</header>
<main class="main">
    <section class="contact">
        <div class="ccard">
            <div class="bannerimg">
                <img src="../../assets/images/Rectangle 428.png" width="" height="" alt="" />
            </div>
            <div class="detail">
                <h1>Contact Us</h1>
                <p>Lets get in touch, we'd love to help</p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4"><img src="../../assets/images/user (3).png" width="" height="" alt="" />
                                Full Name</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState"><img src="../../assets/images/user (3).png" width="" height="" alt="" /> Last
                                Name</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4"><img src="../../assets/images/email.png" width="" height="" alt="" />
                                Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputState"><img src="../../assets/images/info-button.png" width="" height="" alt="" />
                                Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <button class="btn addproduct">SEND</button>
                </form>
            </div>
        </div>
    </section>
    <section class="map">
        <img src="../../assets/images/Group 16317.png" width="" height="" alt="" />
    </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>