<app-header>

</app-header>

<main class="main">
    <section class="contact">
        <div class="ccard">
            <div class="bannerimg">
                <img src="../../assets/images/Rectangle 428.png" width="" height="" alt="" />
            </div>
            <div class="detail">
                <h1>Contact Us</h1>
                <p>Lets get in touch, we'd love to help</p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4"><img src="../../assets/images/user (3).png" width="" height=""
                                    alt="" />
                                Full Name</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState"><img src="../../assets/images/user (3).png" width="" height=""
                                    alt="" /> Last
                                Name</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4"><img src="../../assets/images/email.png" width="" height=""
                                    alt="" />
                                Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputState"><img src="../../assets/images/info-button.png" width="" height=""
                                    alt="" />
                                Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <button class="btn addproduct">SEND</button>
                </form>
            </div>
        </div>
    </section>
    <section class="map">
        <img src="../../assets/images/Group 16317.png" width="" height="" alt="" />
    </section>
    <section class="footeremail">
        <div>
            <h1>Newsletter</h1>
            <img src="../../assets/images/Group158.png" width="" height="" alt="" />
            <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
        </div>
        <div class="mailinput">
            <input type="email" name="email" placeholder="Email Address" />
            <button class="btn">SUBSCRIBE</button>
        </div>
    </section>
</main>