<app-header></app-header>
<main class="main">
  <section class="brandlogos">
    <img src="../../assets/images/spon-6.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-3.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-4.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-5.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-2.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-1.png" width="" height="" alt="" />
  </section>
  <section class="latestNews">
    <h1 class="heading">Latest News</h1>
    <div class="recentcolumns">
      <div class="arrivalcard">
        <img src="../../assets/images/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">
          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/images/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/images/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/images/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/images/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/images/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </section>
  <section class="topExporters overOne">
    <h1 class="heading">Top Exporters</h1>
    <div class="exporterNameCard">
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
      <div class="expoCard">
        <img class="expologo" src="../../assets/images/Shan-logo.png" width="" height="" alt="" />
        <h3>Shan Foods (Private)
          Limited</h3>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star grey"></i>
          <span>5.0</span>
        </div>
        <div class="cataMap">
          <img class="diff" src="../../assets/images/different-squares.png" width="" height="" alt="" />
          <p>Category here</p>
        </div>
        <div class="cataMap">
          <img class="loc" src="../../assets/images/location-pin(1).png" width="" height="" alt="" />
          <p>Lorem ipsum Dolar sit Amet sed</p>
        </div>
        <div class="isoimg">
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
          <img src="../../assets/images/iso-2-1.png" width="" height="" alt="" />
        </div>
        <button class="btn">View Details</button>
      </div>
    </div>
    <div class="pagination">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">...</a>
      <a href="#"><img src="../../assets/images/next(2).png" width="" height="" alt="" /></a>
    </div>
  </section>
  <section class="topCategories">
    <h1 class="heading">Top Categories</h1>
    <div class="diffCategories">
      <div class="cateimg">
        <img src="../../assets/images/jennifer-marquez-LxhDFiKdu7k-unsplash.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group2.png" width="" height="" alt="" />
        <div class="title">
          <p>Men Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group3.png" width="" height="" alt="" />
        <div class="title">
          <p>Girls Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group4.png" width="" height="" alt="" />
        <div class="title">
          <p>Boys Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group5.png" width="" height="" alt="" />
        <div class="title">
          <p>Men Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group6.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group7.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group8.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group9.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group91.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group92.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group93.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group94.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group95.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
      <div class="cateimg">
        <img src="../../assets/images/Group96.png" width="" height="" alt="" />
        <div class="title">
          <p>Women Fashion</p>
        </div>
      </div>
    </div>
    <div class="bestbusiness">
      <img class="dots" src="../../assets/images/GroupDot63.png" width="" height="" alt="" />
      <div class="poster">
        <img src="../../assets/images/Rectangle 2003.png" width="" height="" alt="" />
      </div>
      <div class="getbest">
        <h1>
          Get the best for your business!
        </h1>
        <p class="headingp">Online International Trade on Export Portal has a lot of advantages</p>
        <div class="selection">
          <div class="card">
            <img src="../../assets/images/registrationcard.png" width="" height="" alt="" />
            <p>Free Registration</p>
          </div>
          <div class="card">
            <img src="../../assets/images/premiumcard.png" width="" height="" alt="" />
            <p>Membership benefits</p>
          </div>
          <div class="card">
            <img src="../../assets/images/withuscard.png" width="" height="" alt="" />
            <p>Advertise with us</p>
          </div>
          <div class="card">
            <img src="../../assets/images/usercard.png" width="" height="" alt="" />
            <p>World Wide Users</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footeremail">
    <div>
      <h1>Newsletter</h1>
      <img src="../../assets/images/Group158.png" width="" height="" alt="" />
      <p>Keep up with our latest news and events. Subscribe to our newsletter</p>
    </div>
    <div class="mailinput">
      <input type="email" name="email" placeholder="Email Address" />
      <button class="btn">SUBSCRIBE</button>
    </div>
  </section>
</main>
<app-footer></app-footer>
