<header class="header">
    <div class="headInner">
        <a href="#" title="" class="logo">
            <img src="../../assets/logo/logo.png" width="" height="" alt="" />
        </a>
        <nav class="mainMenu">


            <div class="icons">
                <a href="#">
                    <img src="../../assets/icons/facebook-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/icons/twitter-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/icons/instagram-white.png" width="" height="" alt="" />
                </a>
                <a href="#">
                    <img src="../../assets/icons/linkedin-white.png" width="" height="" alt="" />
                </a>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="#" class="active"><img src="../../assets/icons/home-icon.png" width="" height=""
                            alt="" /></a>
                </li>
                <li>
                    <a href="#">Exporters</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Registration</a>
                </li>
                <li>
                    <a href="#" type="button" class="btn login" data-toggle="modal" data-target="#loginModal">
                        LOGIN
                    </a>
                </li>
                <li style="width: 10px;">

                </li>
                <li>
                    <a href="#" type="button" class="btn signup" data-toggle="modal" data-target="#signupModal">
                        SIGNUP
                    </a>
                </li>
            </ul>
            <ul class="myTopnav">
                <div class="navbar navbar-expand-md navbar-light">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <nav class="main-menu-nav collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li>
                                <a href="#" class="active"><img src="../../assets/icons/home-icon.png" width=""
                                        height="" alt="" /></a>
                            </li>
                            <li>
                                <a href="#">Exporters</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Registration</a>
                            </li>
                            <li style="margin-left: 1em;margin-right: 1em;">
                                <a href="#" type="button" class="btn login" data-toggle="modal"
                                    data-target="#loginModal">

                                    LOGIN
                                </a>
                            </li>
                            <li style="margin-left: 1em;margin-right: 1em;">
                                <a href="#" type="button" class="btn signup" data-toggle="modal"
                                    data-target="#signupModal">
                                    SIGNUP
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </ul>
        </nav>
    </div>


    <!-- =-=-=-=-=-=-=-==-=-=-=-=-=-=-=-= header -=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-- -->
    <div class="headmainbanner">
        <div class="banner">
            <img src="../../assets/icons/Banner.png" height="" width="" alt="banner" />
            <div class="cont">
                <p>Pakistan's First Export Portal</p>
                <h1>FINDING EXPORTERS IN PAKISTAN
                    MADE EASIER</h1>
                <div class="inputSearch">
                    <input type="text" name="search" placeholder="Type here to search.." />
                    <button class="btn">Search</button>
                </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        <input type="text" class="form-control" id="inputCity" placeholder="Exporter">
                    </div>
                    <div class="form-group col-3">
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" class="form-control" id="inputZip" placeholder="Product">
                    </div>
                    <div class="form-group col-3">
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="latestNews">
    <h1 class="heading">Latest News</h1>
    <div class="recentcolumns">
      <div class="arrivalcard">
        <img src="../../assets/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">
          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="arrivalcard">
        <img src="../../assets/brooke-cagle--uHVRvDr7pg-unsplash.png" width="" height="" alt="" />
        <div class="cardlabel">
          <p>30</p>
          <p>Jan</p>
        </div>
        <div class="innercardmargin">

          <h4>Lorem Ipsum Dolar Sit consectetur
            adipiscing </h4>
          <div class="cardlineflex">
            <a href="#"><img src="../../assets/user-blue.png" width="" height="" alt="" />John Doe</a>
            <a href="#"><img src="../../assets/chat-blue.png" width="" height="" alt="" />32</a>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
          <button class="btn">Read More <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </section>